.titulo {
  margin: 20px 0 20px 0;
  text-align: center;
}

.filtrosMaps {
  display: flex;

  .filtros {
    display: flex;
    flex-direction: column;
    border: red solid;
    width: 20vw;
    //height: 200px;
    background-color: #fefae0;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: solid 1px #00000078;
    margin-right: 5px;

    h1 {
      font-size: 1.6em;
      text-align: center;
      color: #23023c;
      background-color: #ffe95b;
      padding: 15px 5px;
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.576);
      border-radius: 10px 10px 0 0;
      border-bottom: solid 1px #00000078;
    }

    input {
      margin-right: 5px;
    }

    label {
      color: #23023c;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
      font-weight: bold;
      font-size: 1.2em;
      margin: 20px 0 20px 20px;
    }
  }
}
